main{
  width: 70%;
  margin: 0 auto;
}

fieldset{
  display: flex;
  margin-bottom: var(--space-l);
  gap: var(--space-l);
  border: none;
  margin: var(--space-l) 0;
  font-size: var(--font-size-xl);
}