.education{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.education-entry{
    flex-grow: 1;
    display: flex;
    gap: var(--space-l);
}

.education-info{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 100%;
}
