fieldset{
    display: flex;
    flex-direction: column;
    margin-bottom: var(--space-l);
    gap: var(--space-l);
    border: none;
    margin: var(--space-l) 0;
    font-size: var(--font-size-xl);
}

legend{
    text-align: left;
}

.form-group{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0;
}
  
.form-label{
    text-align: left;
    font-size: var(--font-size-s);
    color: var(--color-grey);
    padding-top: var(--space-s);
}

.form-control{
    border: none;
    background-color: var(--color-white);
    font-size: var(--font-size-m);
    padding: var(--space-xs) 0;
    border-bottom: 1px solid var(--color-grey);
  }