.position{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.position-entry{
    flex-grow: 1;
    display: flex;
    margin-bottom: var(--space-l);
    gap: var(--space-l);
}

.position-info{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 100%;
}

.work-add-button{
    border: none;
    background-color: var(--color-white);
}

.work-add-button:hover{
    cursor: pointer;
}